# select a revision to deploy, available values: stable, beta, canary
MADISBOARD_REVISION=stable

# set the port for the server container it will expose the server on
PORT=3010

# set the host for the server for outgoing links
AFFINE_SERVER_HTTPS=true
AFFINE_SERVER_HOST=madis-labs.com
AFFINE_SERVER_EXTERNAL_URL=https://madis-labs.com

# position of the database data to persist
DB_DATA_LOCATION=/opt/madisboard/postgres/pgdata
# position of the upload data(images, files, etc.) to persist
UPLOAD_LOCATION=/opt/madisboard/storage
# position of the configuration files to persist
CONFIG_LOCATION=/opt/madisboard/config

# database credentials
DB_USERNAME=madisboard
DB_PASSWORD=changeme
DB_DATABASE=madisboard
